<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
	<!--This file isn't currently being copied during build and not sure why-->
	<targets async="true">
		<target name="logfile" xsi:type="File" fileName="../../../logs/AdventCode.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${callsite}] [${level}]: ${message} ${exception:format=tostring}" archiveFileName="../../../logs/AdventCode.{#}.log" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" />
		<target xsi:type="Null" name="blackhole" />
		<target name="logfileError" xsi:type="File" fileName="../../../logs/AdventCode.Error.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${callsite}] [${level}]: ${message} ${exception:format=tostring}" />
		<target name="console" xsi:type="Console" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${callsite}] [${level}]: ${message} ${exception:format=tostring}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="logfileError" />
		<logger name="AdventCode.*" minlevel="Info" writeTo="logfile,console" />
	</rules>
</nlog>